body {
  background-color: whitesmoke;
}

.App {
  width: 75%;
  margin: 0 auto;
}

.App-link {
  color: #09d3ac;
}

.header {
  height: 50px;
  background-color: dodgerblue;
  color: whitesmoke;
  text-align: center;
}

.people {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.addPeopleButtonsContainer {
  position: relative;
}

.addPeopleButtonsContainer > Button {
  margin: 30px;
  background-color: dodgerblue !important;
  border: dodgerblue solid 15px !important;
}

.listPeople {
  position: relative;
  float:right;
}

.listPeople > p > Button {
  background-color: dodgerblue !important;
  margin-left: 50px;
  margin-right: 465px;
}

.listPeople > p {
  float: right;
  margin-right: 10px;
}


.addFood {
  width: 100%;
  text-align: center;
  margin-top: 170px;
}

.addFood > Button {
  background-color: dodgerblue !important;
  border: dodgerblue solid 15px !important;
}

.listFood {
  width: 100%;
  text-align: center;
}

.addFoodForm {
  width: 100%;
  display: flex;
  margin-left: 265px;
}

.addFoodForm > Button {
  background-color: dodgerblue !important;
}

.MuiFormControl-root {
  padding: 0 20px !important;
  height: 2.188em !important;
}

.MuiSelect-select {
  min-width: 50px !important;
}

