body {
  background-color: whitesmoke;
}

.App {
  width: 60%;
  margin: 0 auto;
}

.App-link {
  color: #09d3ac;
}

.header {
  height: 50px;
  background-color: #0070bf;
  color: whitesmoke;
  text-align: center;
  margin-bottom: 50px;
}

.people {
  text-align: center;
}

.addPeopleButtonsContainer {
  position: relative;
}

.listPeople p, .listPeople button {
  display: inline-block;
}

.listPeople button {
  background-color: #0070bf!important;
}
.listPeople p {
  font-size: 30px;
  padding: 10px;
}

.listPeople .adult p, .listPeople .child p {
  text-align: left;
}

.listPeople > p {
  float: right;
  margin-right: 10px;
}

.listFood button:first-child {
  margin-top: 25px;
  background-color: #0070bf!important;
}

.addFood {
  text-align: center;
}

.listFood {
  text-align: center;
}

.addFoodForm {
  display: flex;
}

.addFoodForm Button {
  background-color: #0070bf !important;
}


.MuiInput-underline {
  display: inline-flex;
}
.result {
  text-align: center;
}
.result button {
  background-color: #0070bf!important;
  margin-top: 50px;
}
.addFoodForm > div {
  width: 33.3%;
}

.addFoodForm input {
  padding-left: 10px;
}

#unit::marker {
  display: none;
}

.MuiInputLabel-formControl, .MuiSelect-selectMenu {
  margin-top: -16px;
}

